@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {

}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 16px 40px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 6px 0 #222;
}

/* HEADER > LOGO */

.header_logo {
    flex-grow: 1;
    font-family: 'Poppins';
}

.header_logo a:first-child {
    display: flex;
    align-items: center;
    width: min-content;
    color: black;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    text-decoration: none;
}

.header_logo a span {
    margin: 0 6px 0 0;
    font-size: 28px;
}

.hambuger_menu {
    display: none;
}

/* HEADER > PAGES */

.header_pages {
    display: flex;
}

.header_pages a {
    display: inline-block;
    position: relative;
    margin: 0 6px;
    padding: 0 2px;
    color: black;
    text-decoration: none;
}

.header_pages a::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: black;
    transition: ease-in-out 400ms;
}

.header_pages a:hover::after {
    width: 100%;
}

/* MAIN (INVENTORY LIST) */

main {
    flex-grow: 1;
    overflow: auto;
}

.page_products,
.page_dashboard,
.page_categories,
.page_count_item {
    background-color: #f1f1f1;
}

/* MAIN > PRODUCTS > CARDS */

.products_cards {
    width: 85%;
    max-width: 1040px;
    margin: 16px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 16px;
}

/* MAIN > PRODUCTS > CARD */

.products_card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 16px 20px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 10px 0 gray;
    box-sizing: border-box;
    cursor: default;
    transition: ease-in-out 300ms;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products_card:hover {
    transform: translateY(-4px);
}

.products_name p {
    margin: 12px 0;
    text-align: center;
    color: #111;
    font-size: 20px;
    letter-spacing: .5px;
    text-transform: capitalize;
}

.products_preview img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.products_actions {
    margin: 6px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
}

.products_actions a {
    display: inline-block;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.products_actions span {
    display: block;
    font-size: 24px;
    cursor: pointer;
}

.products_actions a:last-child span {
    color: tomato;
}

/* MAIN (INVENTORY ADD) */

.page_add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

/* MAIN > PRODUCT-BOX */

.product_add_box {
    width: 80%;
    max-width: 480px;
    /* height: 90%; */
    padding: 16px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 10px 0 #777;
    box-sizing: border-box;
}

.product_add_header {
    width: 90%;
    margin: 0 auto;
}

.product_add_header h2 {
    font-weight: 400;
    font-size: 28px;
}

/* MAIN > FORM */

.product_add_box form {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product_add_box form div {
    /* flex-grow: 1; */
}

.product_add_box form label {
    display: block;
    margin: 6px 0;
}

.product_add_box form input,
.product_add_box form select {
    width: 100%;
    margin: 4px 0 8px 0;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    color: #555;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    box-sizing: border-box;
}

.product_add_box form select {
    font-size: 15px;
}

.product_add_preview input[type='file']{
    display: none;
}

.product_add_preview_custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 120px;
    border: 2px dashed #aaa;
    border-radius: 12px;
    background-color: #e7e7e7;
    cursor: pointer;
}

.product_add_preview_custom span {
    color: #aaa;
    font-size: 48px;
}

.product_add_preview_custom p {
    margin: 0;
    color: #aaa;
    font-size: 16px;
}

.product_add_preview_custom .product_add_preview_name {
    margin: 8px;
    padding: 4px 24px;
    border-bottom: 2px dashed;
    font-size: 18px;
    font-weight: 600;
}

.product_add_actions,
.product_delete_actions {
    margin: 12px 0 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.product_add_actions button,
.product_add_actions a,
.product_delete_actions button,
.product_delete_actions a {
    border: 1px solid #aaa;
    border-radius: 12px;
    padding: 12px 16px;
    color: #222;
    font-size: 14px;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.product_add_actions button:hover,
.product_add_actions a:hover,
.product_delete_actions button:hover,
.product_delete_actions a:hover {
    transform: scale(.975);
}

.product_add_actions button:first-child,
.product_delete_actions button:first-child {
    border-color: transparent;
    background-color: #111;
    color: white;
}

/* (INVENTORY > PRODUCT DELETE) */

.product_add_preview img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 8px auto;
    padding: 6px;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #aaa;
}

.product_delete_actions button:first-child {
    border-color: transparent;
    background-color: tomato;
    color: white;
}

/* MAIN (INVENTORY COUNT) */

.page_count {
    background-color: #f1f1f1;
}

/* MAIN > COUNT */

.products_infos p {
    margin: 10px 0;
    text-align: center;
    color: #333;
    font-size: 17px;
    font-weight: 500;
}

.page_count .products_cards .products_card {
    cursor: pointer;
}

/* MAIN (INVENTORY COUNT ITEM) */

.page_count_item {
    padding: 16px 0;
}

/* MAIN > COUNT-ITEM */

.count_item_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 96%;
    height: 100%;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 gray;
    box-sizing: border-box;
    background-color: white;
}

.count_item_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    width: 60%;
    max-width: 480px;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 16px;
    box-sizing: border-box;
}

.product_movements {
    position: absolute;
    top: 16px;
    right: 16px;

    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;

    cursor: pointer;
    transition: ease-in-out 300ms;
}

.product_movements:hover {
    border-color: #222;
}

.product_movements span {
    display: block;
    font-size: 28px;
}

.product_name h2 {
    text-transform: capitalize;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.product_preview img {
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #777;
}

.product_amount {
    padding: 20px 0;
    text-align: center;
}

.product_amount p:first-child {
    margin: 0;
    margin-top: 24px;
    font-size: 20px;
    text-transform: capitalize;
}

.product_amount p:nth-child(2) {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 12px 48px;
    border-bottom: 1px solid #777;
    font-size: 26px;
}

.product_amount p span {
    position: absolute;
    bottom: 16px;
    font-size: 12px;
}

.product_input {
    margin-top: 24px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.product_input input {
    outline: none;
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 1px solid #777;
    border-radius: 6px;
    padding: 6px 6px;
    color: #333;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    box-sizing: border-box;
}

.product_input input::-webkit-outer-spin-button,
.product_input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product_input_actions {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.product_input_actions p {
    margin: 8px 0;
    padding: 4px;
    border: 1px solid #777;
    border-radius: 8px;
    text-align: center;
    color: #333;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.product_input_actions p:hover {
    transform: scale(.975);
}

.product_input_actions span {
    display: block;
}

.product_save {
    margin: 24px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
}

.product_save a,
.product_save button {
    flex-grow: 1;
    max-width: 120px;
    display: block;
    border: 1px solid #aaa;
    border-radius: 12px;
    padding: 12px 16px;
    color: #222;
    font-size: 14px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.product_save button {
    border: none;
    color: white;
    font-size: 14px;
    background-color: #111;
}

.product_save a:hover,
.product_save button:hover {
    transform: scale(.975);
}

/* MAIN > COUNT-ITEM > MODAL */

.item_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);

    display: none;
    align-items: center;
    justify-content: center;
}

.item_modal.active {
    display: flex;
}

.item_modal_container {
    position: relative;

    width: 70%;
    min-width: 360px;
    padding: 16px 24px;
    border: 1px solid #222;
    border-radius: 12px;
    background-color: #eee;
    color: #222;
    font-family: 'Poppins';
    box-sizing: border-box;
}

.modal_close {
    position: absolute;
    top: -14px;
    right: -14px;
    padding: 2px;
    border-radius: 50px;
    background-color: salmon;
    cursor: pointer;
}

.modal_close span {
    display: block;
    font-size: 28px;
    color: white;
}

.item_movements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    max-height: 740px;
    overflow: auto;
}

.item_movement {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 320px;
    margin: 6px;
    border-radius: 0 6px 6px 6px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 #999;
    cursor: default;
}

.item_movement .movement_symbol {
    padding: 12px;
}

/* REGISTER PAGE */


.page_register {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    background: url('peak_background.svg') no-repeat;
    background-size: cover;
    background-position: center center;
}

.notify {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);

    padding: 32px 56px;
    border: 1px solid salmon;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px 0 #111;
    
    color: #222;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;

    animation: notify 7s ease-in-out forwards;
}

@keyframes notify {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    97% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.notify span {
    display: inline-block;
    padding: 12px;
    border: 1px solid salmon;
    border-radius: 50%;
    color: salmon;
}

.notify.blue {
    border: 1px solid dodgerblue;
}

.notify.blue span {
    border: 1px solid dodgerblue;
    color: dodgerblue;
}

.register_container {
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.logo {
    text-align: center;
    color: white;
    cursor: default;
}

.logo span {
    font-size: 160px;
    font-weight: 400;
}

.logo h2 {
    margin: 0;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.register {
    padding: 16px 32px;
    border: 2px solid rgba(255, 255, 255, .9);
    border-radius: 16px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .9);
}

.register h2 {
    margin: 16px 0;
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: 'Poppins', 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.register form input,
.user_sector select {
    width: 100%;
    margin: 8px 0;
    padding: 14px 44px 14px 16px;
    border: 2px solid rgba(255, 255, 255, .8);
    border-radius: 24px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    background: transparent;
}

.register form input::placeholder {
    color: white;
    font-size: 16px;
    letter-spacing: .5px;
}

.user_name,
.user_email,
.user_password,
.user_sector {
    position: relative;
    display: flex;
    align-items: center;
}

.user_name span,
.user_email span,
.user_password span,
.user_sector span {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.register form button {
    display: block;
    width: 75%;
    margin: 16px auto 0;
    padding: 14px;
    border: 2px solid rgba(255, 255, 255, .8);
    border-radius: 32px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    background: transparent;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.user_sector select {
    -webkit-appearance: none;
    cursor: pointer;
}

.user_sector option {
    color: black;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.register form button:hover {
    transform: scale(.985);
    background-color: rgba(255, 255, 255, .3);
}

.question {
    text-align: center;
    color: white;
}

.question a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* PRODUCTS SEARCH */

.products_search {
    width: 85%;
    max-width: 1040px;
    margin: 16px auto;
    padding: 12px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 gray;
    box-sizing: border-box;
}

.search_text {
    width: 60%;
    margin: 0 auto;
    min-width: 278px;
    position: relative;
}

.search_text input {
    width: 100%;
    padding: 12px 44px 12px 12px;
    border: 1px solid #aaa;
    border-radius: 8px;
    color: #555;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.search_text button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    border: none;
    background-color: transparent;
    color: #555;
}

/* DASHBOARD */

.page_dashboard,
.page_categories,
.page_movements,
.page_backups {
    padding: 8px 0;
}

.dashboard_container,
.categories_container,
.movements_container,
.backups_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 96%;
    height: 100%;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 gray;
    box-sizing: border-box;
    background-color: white;
}

.dashboard_container {
    justify-content: unset;
}

.user_welcome {
    width: 80%;
    margin: 32px auto 24px;
    padding: 16px;
    border-bottom: 1px solid #111;
    height: min-content;
    text-align: unset;
}

.user_welcome h2 {
    margin: 0;
}

.dashboard_actions {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.dashboard_actions button,
.dashboard_actions a {
    width: 60%;
    max-width: 280px;
    margin: 0 8px 16px;
    padding: 32px 24px;
    border: 1px solid #111;
    border-radius: 6px;
    color: #111;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: .5px;
    background-color: unset;
    box-shadow: 0 0 5px 0 gray;
    box-sizing: border-box;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.dashboard_actions button:hover,
.dashboard_actions a:hover {
    transform: scale(.985);
}

/* DASHBOARD > NEW COUNT */

.dashboard_newcount_modal,
.dashboard_categories_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);

    display: none;
    align-items: center;
    justify-content: center;
}

.dashboard_newcount_modal.active,
.dashboard_categories_modal.active {
    display: flex;
}

.dashboard_newcount_modal form {
    max-width: 480px;
    padding: 16px 24px;
    border: 1px solid #222;
    border-radius: 12px;
    background-color: #eee;
    color: #222;
    font-family: 'Poppins';
    box-sizing: border-box;
}

.dashboard_newcount_modal form h2 {
    margin: 16px 0;
    font-size: 28px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.dashboard_newcount_icon {
    margin: 32px;
    text-align: center;
}

.dashboard_newcount_icon span {
    font-size: 64px;
}

.dashboard_newcount_modal p {
    text-align: center;
    font-size: 17px;
}

.dashboard_newcount_modal p span {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .5px;
}

.dashboard_newcount_modal input {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    border: 2px solid #222;
    border-radius: 8px;
    background-color: #fff;
    outline: none;
    box-sizing: border-box;
    font-weight: 600;
}

.dashboard_newcount_modal input:focus {
    border: 2px solid #1f6feb;
}

.dashboard_newcount_buttons {
    margin: 20px 0 0;
    display: flex;
    justify-content: space-evenly;
}

.dashboard_newcount_buttons button {
    padding: 10px 40px;
    border: none;
    /* border: 1px solid #222; */
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    background-color: #fff;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.dashboard_newcount_buttons button:last-child {
    background-color: #111;
    color: white;
}

.dashboard_newcount_buttons button:hover {
    transform: scale(.985);
}

/* DASHBOARD > CATEGORIES */

.categories_container {
    display: grid;
    grid-template-rows: min-content;
    justify-content: unset;
}

.categories_container h2 {
    width: 90%;
    margin: 40px auto 24px;
    border-bottom: 1px solid #222;
    font-size: 26px;
    text-align: center;
    font-family: 'Poppins';
}

.categories {
    width: 50%;
    margin: 0 auto;
    max-width: 480px;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 16px;
    box-sizing: border-box;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #777;
    font-weight: 600;
    letter-spacing: .5px;
    cursor: default;
}

.category p {
    margin: 0;
}

.category:last-child {
    border-bottom: none;
}

.category_actions {
    display: flex;
}

.category_actions span {
    margin-left: 10px;
    cursor: pointer;
}

.new_category {
    width: 50%;
    max-width: 480px;
    margin: 0 auto;
}

.new_category button {
    display: block;
    width: 70%;
    margin: 16px auto;
    padding: 16px;
    border: none;
    border-radius: 6px;
    letter-spacing: 1px;
    color: white;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    background-color: #111;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.new_category button:hover {
    transform: scale(.985);
}

.category form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category input {
    display: block;
    width: 70%;
    padding: 10px 12px;
    border: 1px solid #777;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

.new_category_actions {
    display: flex;
}

.new_category_actions span {
    margin-left: 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.new_category_actions span:hover {
    border-color: #333;
}

.new_category_actions button {
    display: none;
}

/* DASHBOARD > MOVEMENTS */

.movements_container {
    display: grid;
    grid-template-rows: min-content;
    justify-content: unset;
}

/* .movements_container {
    flex-grow: 1;
    justify-content: unset;
} */

.movements_container h2 {
    width: 90%;
    margin: 40px auto 24px;
    border-bottom: 1px solid #222;
    font-size: 26px;
    text-align: center;
    font-family: 'Poppins';
}

.movements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    justify-content: center;

    width: 90%;
    max-height: 880px;
    overflow: auto;
    margin: 16px auto;
    padding: 8px;
    border-radius: 6px;
    box-sizing: border-box;
}

.no_movements,
.no_backups {
    text-align: center;
    color: #888;
    letter-spacing: .5px;
}

.movement {
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px 0 #999;
    border-radius: 0 6px 6px 6px;
    cursor: default;
}

.movement_symbol {
    padding: 12px 24px;
    border-right: 2px dotted #111;
}

.movement_symbol span {
    font-size: 32px;
}

.movement_infos {
    flex-grow: 1;
    padding: 12px 24px;
}

.movement_infos p {
    margin: 3px 0;
}

.movement_product_name {
    text-transform: capitalize;
}

.movement_product_amount {
    font-size: 15px;
}

.movement_product_name,
.movement_product_amount,
.movement_user_name {
    color: #111;
    font-weight: 600;
    letter-spacing: .5px;
}

.movement_user_name,
.movement_datetime {
    color: #777;
    font-size: 15px;
}

/* DASHBOARD > BACKUPS */

.backups_container {
    display: grid;
    grid-template-rows: min-content;
    justify-content: unset;
}

.backups_container h2 {
    width: 90%;
    margin: 40px auto 24px;
    border-bottom: 1px solid #222;
    font-size: 26px;
    text-align: center;
    font-family: 'Poppins';
}

.backups_container form {
    width: 60%;
    max-width: 480px;
    margin: 0 auto;
}

.backups {
    width: 100%;
    min-height: 480px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid #222;
    border-radius: 8px;
    box-sizing: border-box;
}

.backup {
    display: flex;
    align-items: center;
    margin: 12px 8px;
    padding: 10px;
    border-bottom: 1px solid #777;
}

.backup:last-child {
    border: none;
}

.backup input {
    margin-right: 12px;
    width: 14px;
    height: 14px;
}

.backup label {
    font-weight: 600;
    letter-spacing: .5px;
    cursor: default;
}

.backups_actions {
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.backups_actions button {
    margin-left: 10px;
    padding: 14px 32px;
    border: 1px solid #111;
    border-radius: 6px;
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    background-color: #111;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.backups_actions button:first-child {
    /* color: black; */
    /* background-color: white; */
    /* box-shadow: 0 0 4px 0 #111; */
}

.backups_actions button:hover {
    transform: scale(.985);
}

/* FOOTER */

footer {
    padding: 12px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    box-shadow: 0 0 10px 0 gray;
}

footer p {
    margin: 0;
}

/* RESPONSIVE CSS > MOBILE */

@media only screen and (max-width: 760px) {
    body {
        height: 100vmax;
    }

    /* HEADER */

    header {
        display: block;
    }

    .header_logo {
        display: flex;
        justify-content: space-between;
    }

    .hambuger_menu {
        display: block;
        color: black;
        text-decoration: none;
    }

    .header_pages {
        display: block;
        height: 0;
        transition: ease-in-out 300ms;
    }

    .header_pages.active {
        height: 178px;
    }

    .header_pages a {
        opacity: 0;
        transform: translateY(-20px);
        animation: displaynone 300ms ease-in-out forwards;
    }

    

    .header_pages a:hover::after {
        width: 0;
    }

    .header_pages.active a {
        display: block;
        width: 80%;
        margin: 10px auto;
        padding: 8px;
        border: 1px solid #333;
        border-radius: 32px;
        text-align: center;
        box-shadow: 0 0 4px 0 #333;
        animation: fadein 300ms ease-in-out forwards;
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes displaynone {
        from {
            display: block;
        }

        to {
            display: none;
        }
    }

    .header_pages a:last-child {
        border-color: salmon;
        box-shadow: 0 0 4px 0 salmon;
        color: salmon;
        letter-spacing: 1px;
        font-weight: 600;
    }

    /* MAIN */

    main {
        overflow: unset;
        padding: 16px 0;
    }

    .page_add {
        align-items: unset;
    }

    .page_count_item {
        align-items: unset;
    }

    /* PRODUCTS > UPDATE, DELETE and ADD */

    .product_add_box {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .product_add_box form {
        height: unset;
        flex-grow: 1;
        justify-content: space-between;
    }

    .products_cards {
        display: block;
    }

    .products_card {
        margin: 16px auto;
        max-width: unset;
    }

    /* COUNT */ 

    .count_item_container form {
        width: 96%;
        border: unset;
    }

    .product_preview img {
        width: 120px;
        height: 120px;
    }

    /* COUNT > MODAL-MOVEMENT */

    .item_modal_container {
        width: 94%;
        padding: 8px 0; 
        min-width: unset;
        border-radius: 12px 0 12px 12px;
        box-sizing: border-box;
    }

    .modal_close {
        right: -6px;
        border-radius: 6px;
    }

    .modal_close span {
        font-size: 24px;
    }

    .no_movements {
        text-align: center;
    }

    .item_movements {
        max-height: 90vh;
    }

    /* PAGE LOGIN AND REGISTER */ 

    .page_register {
        display: unset;
    }

    .register_container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .register {
        width: 85%;
    }

    /* DASHBOARD */

    .user_welcome {
        padding: 16px;
    }

    .user_welcome h2 {
        font-size: 22px;
        text-align: center;
    }

    /* .dashboard_actions {
        display: unset;
    }  */

    .dashboard_actions button,
    .dashboard_actions a {
        width: 100%;
    }

    /* DASHBOARD > NEW COUNT */

    .dashboard_newcount_modal form {
        width: 95%;
    }

    /* DASHBOARD > CATEGORIES */

    .categories {
        width: 96%;
        max-height: unset;
    }
    .new_category {
        width: 96%;
    }

    .new_category button {
        width: 80%;
    }

    /* DASHBOARD > MOVEMENTS */

    .movements_container h2,
    .backups_container h2,
    .categories_container h2 {
        width: 90%;
        margin: 16px auto 4px;
        text-align: center;
        font-size: 24px;
    }

    .movements,
    .backups_container form {
        width: 96%;
        margin: 0 auto;
        padding: 8px 0;
    }

    .movement {
        width: 96%;
        margin: 0 auto;
        min-width: unset;
        box-sizing: border-box;
    }

    /* DASHBOARD > BACKUPS */

    .backups_container {
        align-items: unset;
    }

    .backups_container form {
        display: flex;
        flex-direction: column;
    }

    .backups {
        flex-grow: 1;
        padding: 0 8px;
        border: unset;
        min-height: unset;
    }

    .backup {
        margin: 12px 0;
    }

    .backups_actions {
        justify-content: space-evenly;
    }

    .backups_actions button {
        margin: unset;
    }

    /* SEARCH AREA */

    .search_text {
        width: 100%;
    }

}
